<div class="text-white p-2 flex flex-col gap-2 border rounded-sm">
    <h3 class="text-2xl">Sobre mí</h3>
    <p>Tengo 29 años, hace +4 años que vengo estudiando de forma autodidacta y formal, siendo está primera la que más conocimiento me dió.</p>
    <div>
        <p>Tecnologías que conozco:</p>
        <div class="flex flex-wrap gap-2">
            <app-item-technology name="nest"></app-item-technology>
            <app-item-technology name="postgres"></app-item-technology>
            <app-item-technology name="java"></app-item-technology>
            <app-item-technology name="react"></app-item-technology>
            <app-item-technology name="tailwind"></app-item-technology>
            <app-item-technology name="angular"></app-item-technology>
            <app-item-technology name="docker"></app-item-technology>
            <app-item-technology name="jwt"></app-item-technology>
        </div>
    </div>
</div>