<h2 class="text-3xl text-white">Experiencia laboral</h2>

<div class="flex flex-col gap-5">
    <app-job 
        title="Administrativo/Atención al público"
        entity="Campo 90"
        time="Febrero 2024 - Actualmente..."
        description="Mi tarea principal es la carga y seguimiento de ordenes de trabajo (busqueda en despiece, encargue de piezas, entrega de piezas al taller, etc). Ingreso de facturas a un sistema de gestión propio de la empresa y atención al público. Otras de las tareas que realizo es el cambio de disco duro, instalación de Sistema Operativo, aplicaciones de oficina en diferentes PC, armado de cadenas para motosierra, entre otras cosas."
    ></app-job>
    <app-job
        title="Atención al público"
        entity="Municipalidad de Brandsen"
        time="Septiembre 2023 - Febrero 2024"
        description="Carga de personas a Portal Empleo para facilitar tanto el accesso a un empleo como al cambio. Nexo entre el empleador y el empleado para filtrar candidatos que se adecúen a los requisitos del empleador"
    >
    </app-job>
    <app-job
        title="Soporte Técnico"
        entity="Municipalidad de Brandsen"
        time="Agosto 2021 - Septiembre 2023"
        description="Limpieza de pc, cambio de componentes, instalación de S.O, software, configuración de impresoras por red, armado de cable RJ45, etc.."
    ></app-job>
    <app-job
        title="Inspector municipal"
        entity="Municipalidad de Brandsen"
        time="Abril 2016 - Agosto 2021"
        description="Control, supervisión y fiscalización en la vía pública. Labrado de actas y notificaciónes, tanto de ordenanzas municipales, como de ley provincial."
    ></app-job>
</div>