<h2 class="text-3xl text-white">Experiencia laboral</h2>

<div class="flex flex-col gap-5">
    <app-job 
        title="Administrativo/Atención al público"
        entity="Campo 90"
        time="Febrero 2024 - Actualmente..."
        description="Mi tarea principal es recibir las máquinas que llegan al taller, anotar las fallas que trae cada una y hacerles el seguimiento hasta que están listas. También doy una mano en el mostrador cuando hay mucha gente, atendiendo y vendiendo productos. Además, me ocupo de cargar las facturas de compra en el sistema de la empresa. De forma ocasional, también colaboré con tareas tecnicas como el cambio de discos duros en PC, instalación de sistema operativo y software de oficina, facturación en Arca, etc"
    ></app-job>
    <app-job
        title="Atención al público"
        entity="Municipalidad de Brandsen"
        time="Septiembre 2023 - Febrero 2024"
        description="Carga de personas a Portal Empleo para facilitar tanto el accesso a un empleo como al cambio. Nexo entre el empleador y el empleado para filtrar candidatos que se adecúen a los requisitos del empleador"
    >
    </app-job>
    <app-job
        title="Soporte Técnico"
        entity="Municipalidad de Brandsen"
        time="Agosto 2021 - Septiembre 2023"
        description="Limpieza de pc, cambio de componentes, instalación de S.O, software, configuración de impresoras por red, armado de cable RJ45, etc.."
    ></app-job>
    <app-job
        title="Inspector municipal"
        entity="Municipalidad de Brandsen"
        time="Abril 2016 - Agosto 2021"
        description="Control, supervisión y fiscalización en la vía pública. Labrado de actas y notificaciónes, tanto de ordenanzas municipales, como de ley provincial."
    ></app-job>
</div>