<div class="flex flex-col gap-5">
    <div class="flex items-center gap-5">
        <div class="w-20 h-20 bg-white rounded-full">
        </div>
        <p class="py-1 px-2 bg-slate-700 max-w-max rounded-xl text-sm text-blue-100 border">Disponible para trabajar</p>
    </div>
    <div class="text-white flex flex-col gap-2">
        <h1 class="text-4xl font-bold">Hola, Soy Aaron</h1>
        <p class="text-xl">Desarrollador web autodidacta. <span class="font-bold">Brandsen, Buenos Aires.</span></p>
        <div>
            <p>El sitio que están viendo está alojado en un <span class="font-bold">VPS</span>, el cual se le configuró los <span class="font-bold">DNS</span> con <span class="font-bold">Cloudflare</span> y <span class="font-bold">SSL</span> con <span class="font-bold">Certbot</span></p>
            <p>Tengo conocimientos en confección de <span class="font-bold">API REST</span> con <span class="font-bold">NEST</span>, autenticación y autorización con <span class="font-bold">JWT</span> y <span class="font-bold">Passport</span>, documentación con <span class="font-bold">Swagger</span>, manejo de base de datos con <span class="font-bold">PrismaORM</span> y este sitio está siendo desarollado con <span class="font-bold">Angular</span></p>
            <p>Experiencia laboral en el rubro no tengo. Pero hace + 3 años que vengo estudiando de forma autodidacta y oficial. Tengo cursos de: EducaciónIt, Argentina Programa con Egg, Fundación telefonica, UTN y CoderHouse</p>
        </div>
    </div>
</div>