<div class="flex flex-col gap-5">
    <div class="flex items-center gap-5">
        <div class="w-20 h-20 bg-white rounded-full overflow-hidden border border-slate-100">
            <picture>
                <img src="yo.jpeg"/>
            </picture>
        </div>
        <p class="py-1 px-2 bg-slate-700 max-w-max rounded-xl text-sm text-blue-100 border">Disponible para trabajar</p>
    </div>
    <div class="text-white flex flex-col gap-2">
        <h1 class="text-4xl font-bold">Hola, Soy Aaron</h1>
        <p class="text-xl">Desarrollador web autodidacta. <span class="font-bold">Brandsen, Buenos Aires.</span></p>
        <p>Este sitio que están viendo está alojado en un <span class="font-bold">VPS</span> con <span class="font-bold">Ubuntu</span> el cual se configuró los <span class="font-bold">DNS</span> con <span class="font-bold">Cloudflare</span>, configuración de sitio con <span class="font-bold">NGINX</span>, certificados <span class="font-bold">SSL</span> con <span class="font-bold">Cerbot</span> y el desarrollo <span class="font-bold">Frontend</span> con <span class="font-bold">Angular</span>.</p>
        <p class="font-thin">Y si, no había necesidad de tener un VPS para hacer un deploy de contenido estatico, pero la gracia es aprender.</p>
        <p>No tengo experiencia profesional en el sector.</p>
    </div>
</div>